{% extends 'default.html' %}
{% load custom_filters %}

{% block content %}
    {% for post in news_list %}
        <div>
            <h3><a href="{% url 'news_detail' post.pk %}">{{ post.title|censor }}</a></h3>
            <p>{{ post.content|truncatechars:100|censor }}</p>
            <p>
                <span style="margin-right: 30px;">Дата: {{ post.created_at|date:"d.m.Y" }}</span>
                <span style="margin-right: 30px;">Автор: {{ post.author.user.username }}</span>
                <span style="margin-right: 30px;">Тип: {{ post.get_post_type_display }}</span>
                {% if post.author.user == request.user %}
                    <a href="{% if post.post_type == 'NW' %}{% url 'post_edit' post.pk %}{% else %}{% url 'article_edit' post.pk %}{% endif %}" class="btn">Редактировать</a>
                    <a href="{% if post.post_type == 'NW' %}{% url 'post_delete' post.pk %}{% else %}{% url 'article_delete' post.pk %}{% endif %}" class="btn">Удалить</a>
                {% endif %}
            </p>
        </div>
    {% empty %}
        <p>Новостей пока нет.</p>
    {% endfor %}

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}" class="btn">Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}" class="btn">Предыдущая</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current btn">{{ num }}</span>
                {% else %}
                    {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}" class="btn">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}" class="btn">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}" class="btn">Последняя</a>
            {% endif %}
        </span>
    </div>
{% endblock %}