{% extends 'default.html' %}

{% block content %}
<h1>
    {% if object %}
        Редактирование "{{ object.title }}"
    {% else %}
        Создание новой {% if request.path|slice:"1:8" == 'article' %}статьи{% else %}новости{% endif %}
    {% endif %}
</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
    <div class="actions">
        <a href="{% url 'news_list' %}" class="button">← На главную</a>
    </div>
</form>
{% endblock %}