<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Газета "Фабрика навыков"{% endblock %}</title>
    <style>
        .header {text-align: center;}
        .pagination {text-align: center;}
        .navigation {text-align: center;}
    </style>
</head>
<body>
    <div class="header">
        <h1>Газета "Фабрика навыков"</h1>
    </div>
    <div class="navigation">
        <a href="{% url 'news_list' %}" class="btn" style="margin-right: 40px;"><strong>Новости</strong></a>
        <a href="{% url 'article_list' %}" class="btn" style="margin-right: 40px;"><strong>Статьи</strong></a>
        <a href="{% url 'post_search' %}" class="btn"><strong>Поиск</strong></a>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>